@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body{
    background-color: rgba(228, 228, 228, 0.356);
  }

  .container-cad {
    width: 700px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    border-radius:6px;
    padding:1em;
    border: 1px #aaaaaa solid;
    background-color: #ffffff6c;
}

.container-cad h2 { 
  font-size: 2em;
  color: #000;
  border-bottom: 1px #f0eded solid;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.form-group {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8px;
  position: relative;
}

.inline-group {
  display: flex;
  gap: 0.5em;
}

  input {
    font-size: 16px;
    font-family: inherit;
    padding: 6px;
    border-radius: 6px;
    border: 1px #aaaaaa solid;
    background: #fdfdfd;
    outline: none;
    width: 100%;
    transition: all 0.3s;
  }

  .submit-btn {
    float: right;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 6px;
    margin: 16px 0 16px 8px;
    cursor: pointer;
    transition: all 0.3s;
}

#btn1{
  background-color: red;
}

#btn2{
  background-color: #24a0ed;
}
 
 #numCasa,#estado{
  width: 25%;
}

#alerta{
  display: none;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.main-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 40px;
  flex-wrap: wrap;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 8em;
  height: 6rem;
  margin: 0.5em;
  background-color: rgb(232,232,232);
  border-radius: 6px;
}

.info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
#fecha{
  background-color: #24a0ed;
  float: right;
  display: block;
  padding: 5px 30px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 6px;
  margin: 16px 0;
  cursor: pointer;
}