<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
</head>

<body>
  <div class="container-cad">
    <h2>Cadastro</h2>
    <form name="form-cad">
      <div class="form-group">
        <label for="nomeCompleto">Nome Completo</label>
        <input type="text" [(ngModel)]="nome" name="nomeCompleto" required />
      </div>
      <div class="inline-group">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" [(ngModel)]="email" id="email" name="email" required />
        </div>
      </div>
      <div class="inline-group">
        <div class="form-group" id="cpf">
          <label for="cpf">CPF</label>
          <input type="text" [(ngModel)]="cpf" name="cpf" mask="000.000.000-00" required />
        </div>
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input type="text" [(ngModel)]="telefone" name="telefone" mask="(00) 00000-0000" />
        </div>
      </div>

      <div class="form-group">
        <label for="cep">CEP</label>
        <input type="text" name="cep" [(ngModel)]="cep" (blur)="onCepChange(cep)" mask="00000-000" size="10" maxlength="9" required />
      </div>

      <div class="inline-group">
        <div class="form-group">
          <label for="rua">Rua</label>
          <input type="text" name="rua" [(ngModel)]="rua" size="60" required />
        </div>

        <div class="form-group" id="numCasa">
          <label for="numCasa">Número</label>
          <input type="text" name="numCasa" [(ngModel)]="numCasa" mask="00000" maxlength="5" required />
        </div>
      </div>

      <div class="inline-group">
        <div class="form-group" id="b">
          <label for="bairro">Bairro</label>
          <input type="text" name="bairro" [(ngModel)]="bairro" size="40" required />
        </div>
        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input name="cidade" type="text" [(ngModel)]="cidade" size="40" required />
        </div>
        <div class="form-group" id="estado">
          <label for="uf">Estado</label>
          <input name="uf" type="text" [(ngModel)]="uf" size="2" required />
        </div>
      </div>

      <div class="inline-group">
        <div class="form-group" id="b">
          <label for="pass">Senha</label>
          <input type="text" [(ngModel)]="senha" name="pass"  required />
        </div>
      </div>

      <div>
        <a routerLink="/login">
          <button type="button" id="btn1" class="submit-btn">Cancelar</button>
        </a>
        <button type="submit" id="btn2" class="submit-btn" (click)="enviar()">Enviar</button>
      </div>
    </form>
  </div>
</body>

</html>
