<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Roupa</title>
</head>

<body>
  <div class="container-cad">
    <h2>Editar Roupa</h2>
    <form (ngSubmit)="salvar()">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="roupa.nomeRoupa" name="nome">

      <label for="prazo">Prazo:</label>
      <input type="prazo" id="prazo" [(ngModel)]="roupa.prazo" name="prazo">

      <label for="valor">Valor:</label>
      <input type="valor" id="valor" [(ngModel)]="roupa.valor" name="valor" >

      <label for="imagem">Imagem:</label>
      <input type="imagem" id="imagem" [(ngModel)]="roupa.imagem" name="imagem" >

      <button type="submit">Salvar</button>
      <button (click)="cancelar()" type="abort" >Cancelar</button>
    </form>
  </div>

  <style>

  </style>

</body>

</html>
