<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="login.component.css">
  <title>Login</title>
</head>

<body>
  <section *ngIf="message" class="login">
    {{message}}
    <div class="wrapper-login">
      <div class="logo-img">
        <img src="/assets/img/default/logo.png" alt="Logo_Lol">
      </div>
      <h2>Login</h2>
      <form #formLogin="ngForm">
        <div class="input-box">
          <span class="icon"></span>
          <input type="text" id="usuario" name="usuario" [(ngModel)]="login.email" #usuario="ngModel" required>
          <label for="usuario">Digite seu e-mail</label>
          <div *ngIf="usuario.errors && (usuario.dirty || usuario.touched)">
            <div [hidden]="!usuario.errors?.['required']">
              Digite o e-mail
            </div>
          </div>
        </div>

        <div class="input-box">
          <input type="password" id="senha" name="senha" [(ngModel)]="login.senha" #senha="ngModel" required>
          <label for="senha">Digite sua senha</label>
          <div *ngIf="senha.errors && (senha.dirty || senha.touched)">
            <div [hidden]="!senha.errors?.['required']">
              Digite a senha
            </div>
          </div>
        </div>

        <div class="remember-forgot">
          <a routerLink="/esqueceu-senha">Esqueceu sua senha?</a>
        </div>

        <button type="submit" class="btn" (click)="logar()" [disabled]="!formLogin.form.valid">Login</button>
        <div class="register-link">
          <p>Não é um membro? <a [routerLink]="['/autocadastro']">Cadastre-se agora</a></p>
        </div>
      </form>
    </div>
  </section>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>