<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="esqueceu-senha.component.css">
  <title>Esqueceu a Sua Senha</title>
</head>

<body>
  <section class="password-reset">
    <div class="wrapper-reset">
      <h2>Esqueceu a Sua Senha?</h2>
      <form action="./codenviado.html" method="post">
        <div class="input-box">
          <label for="email">Digite seu E-mail:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="input-box">
          <label for="nome-completo">Digite seu Nome Completo:</label>
          <input type="text" id="nome-completo" name="nome_completo" required>
        </div>
        <button type="submit" class="btn">Enviar Código por E-mail</button>
      </form>
    </div>
  </section>
</body>

</html>
