@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content-with-sidebar {
  margin-left: 15%;
}

.menu-item {
  position: relative;
  display: table-cell;
  width: 5vw;
  height: 3.6vh;
  font-size: 2vw;
}

.menu-sidebar {
  width: 15%;
  height: 100%;
  background: #5d6b74;
  position: fixed;
  padding-top: 4vh;
  overflow-y: auto;
}

.menu-sidebar li > a {
  display: table;
  color: #ffffff;
  text-decoration: none;
}

.menu-sidebar .menu-texto {
  position: relative;
  display: table-cell;
  width: 35vw;
  padding: 1vh 0;
  font-family: "Poppins";
  font-size: 1vw;
}

.menu-sidebar h2 {
  padding: 3vh 1.5vw;
  font-size: 1.9vw;
}

.menu-sidebar a {
  color: #fff;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 80%;
  height: auto;
}

.menu-sidebar li:hover > a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #242424;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .content {
  max-width: 60vw;
  color: #000;
  text-align: center;
  padding-left: 0;
  padding-top: 12vh;
}

.home h2 {
  font-size: 3vw;
  letter-spacing: 0.03em;
  margin-bottom: 2vh;
}

.home a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 1vh 4vw;
  margin: 2vh;
  border-radius: 3vw;
  font-weight: bolder;
  transition: 0.5s;
  position: relative;
  display: block;
  background: #393f439d;
}

.content-with-sidebar .home .novo-pedido {
  position: absolute;
  top: 3%;
  right: 0;
}

.home a:hover {
  background: #ffffff07;
  color: #000;
}

.itens-pedido {
  align-items: center;
}

.btn {
  padding: 10px 60px;
  background: #ce8686;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  justify-content: center;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6e6e6ea9;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup .btn-yes {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #cc2e2ef8;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
