<!DOCTYPE html>
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOL - Lavanderia Online</title>
</head>

<body>
  <nav class="menu-sidebar">
    <div class="logo">
      <img src="/assets/img/default/logo.png" alt="Logo">
    </div>
    <h2><a [routerLink]="['/cliente', id]">LOL Lavanderia Online</a></h2>
    <ul>
      <li><a [routerLink]="['/cliente', id]"><i class="menu-item"></i><span class="menu-texto">Página Inicial</span></a>
      </li>
      <li><a [routerLink]="['/cliente/pedidos', id]"><i class="menu-item"></i><span class="menu-texto">Meus
            pedidos</span></a></li>
      <li><a href="#"><i class="menu-item"></i><span class="menu-texto">Serviços</span></a></li>
      <li><a href="#"><i class="menu-item"></i><span class="menu-texto">Contato</span></a></li>
    </ul>
    <ul class="logout">
      <li><a href="/logout"><i class="menu-item"></i><span
            class="menu-texto">Sair</span></a></li>
    </ul>
  </nav>
  <div class="content-with-sidebar">
    <section class="home">
      <div class="novo-pedido">
        <a href="/cliente/pedido_online">Abrir novo pedido</a>
      </div>
      <div class="content">
        <h1>Meus Pedidos</h1>
        <div class="seletor-status">
          <form>
            <label for="filtro-estados">Filtrar por estado:</label>
            <select id="filtro-estados">
              <option value="">Todos</option>
              <option value="aberto">Aberto</option>
              <option value="aguardando pagamento">Aguardando pagamento</option>
              <option value="rejeitado">Rejeitado</option>
              <option value="pago">Pago</option>
              <option value="recolhido">Recolhido</option>
              <option value="finalizado">Finalizado</option>
              <option value="cancelado">Cancelado</option>
            </select>
          </form>
        </div>
        <div class="listagem">
          <table>
            <thead>
              <tr>
                <th>Número do pedido</th>
                <th>Data do pedido</th>
                <th>Status</th>
                <th>Valor total</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody *ngIf="pedidos && pedidos.length > 0">
              <tr *ngFor="let pedido of pedidos">

                <td>#{{ pedido.idPedido }}</td>
                <td>{{ pedido.dataHora }}</td>
                <td>{{ pedido.pedidoStatus === 'AGUARDANDO_PAGAMENTO' ? 'AGUARDANDO PAGAMENTO' : pedido.pedidoStatus }}</td>
                <td>R${{ pedido.valorTotal}},00</td>
                <td>
                  <button (click)="atualizarEstado(pedido)" [style]="{ 'background-color': getCorEstado(pedido) }">
                    {{ getMensagemBotao(pedido) }}
                  </button>
                </td>

              </tr>
            </tbody>
            <div *ngIf="!pedidos || pedidos.length === 0">
              <p style="font-size: larger;">Não há pedidos abertos.</p>
            </div>

          </table>
        </div>
      </div>
    </section>

    <div class="overlay" id="overlay">
      <div class="popup" id="popup">
        <img src="./assets/atencao.png">
        <h2>Cancelar Pedido</h2>
        <p>Você tem certeza que deseja cancelar seu pedido?</p>
        <button type="button" class="btn-yes" onclick="closePopupYes()">Sim</button>
        <button type="button" onclick="closePopup()">Não</button>
      </div>

      <div class="popup" id="popup2">
        <img src="assets/sucesso.png">
        <h2>Cancelar Pedido</h2>
        <p>Pedido cancelado com sucesso!</p>
        <button type="button" class="btn-yes" onclick="closePopupCancel()">Ok</button>
      </div>
    </div>

  </div>

</body>
