<div>
  <nav class="menu-sidebar">
    <div>
      <div *ngIf="usuarioLogado" class="logo">
        <img src="/assets/img/default/logo.png" alt="Logo">
        <div *ngIf="usuarioLogado.perfil==='CLIENTE'">
          <h2><a href="#" routerLink="/cliente">LOL Lavanderia Online</a></h2>
          <ul>
            <li><a href="/prototipo/cliente/tela_inicial_cliente/index.html"><i class="menu-item"></i><span class="menu-texto">Página Inicial</span></a></li>
            <li><a href="/prototipo/cliente/tela_meus_pedidos/index.html"><i class="menu-item"></i><span class="menu-texto">Meus pedidos</span></a></li>
            <li><a href="#"><i class="menu-item"></i><span class="menu-texto">Serviços</span></a></li>
            <li><a href="#"><i class="menu-item"></i><span class="menu-texto">Contato</span></a></li>
          </ul>
          <ul class="logout">
            <li><a href="/prototipo/home/tela_inicial/inicio.html"><i class="menu-item"></i><span class="menu-texto">Sair</span></a></li>
          </ul>
        </div>

        <div *ngIf="usuarioLogado.perfil==='FUNCIONARIO'">
          <div class="logo">
            <img src="/assets/img/default/logo.png" alt="Logo">
          </div>
          <p>
            Bem vindo (a), {{usuarioLogado.nome}}!
          </p>
          <h2><a href="#">LOL Lavanderia Online</a></h2>
          <ul>
            <li><a href="#" routerLink="/funcionario"><i class="menu-item"></i><span class="menu-texto">Página
                  Inicial</span></a></li>
            <li><a href="#" routerLink="/funcionario/pedidos"><i class="menu-item"></i><span class="menu-texto">Pedidos</span></a></li>
            <li><a href="#" routerLink="/funcionario/relatorio"><i class="menu-item"></i><span class="menu-texto">Relatórios</span></a></li>
            <li><a href="#" routerLink="/funcionario/manutencao-func"><i class="menu-item"></i><span class="menu-texto">Funcionários</span></a></li>
            <li><a href="#" routerLink="/funcionario/manutencao-roupas"><i class="menu-item"></i><span class="menu-texto">Roupas</span></a></li>
          </ul>
          <ul *ngIf="usuarioLogado" class="logout">
            <li><a href="#" (click)="logout()"><i class="menu-item"></i><span class="menu-texto">Sair</span></a></li>
          </ul>
        </div>


      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>