<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOL - Lavanderia Online</title>
</head>

<body>
  <nav class="menu-sidebar">
    <div class="logo">
      <img src="/assets/img/default/logo.png" alt="Logo">
    </div>
    <h2><a href="/funcionario/">LOL Lavanderia Online</a></h2>
    <ul>
      <li><a href="/funcionario/"><i class="menu-item"></i><span class="menu-texto">Página Inicial</span></a></li>
      <li><a href="/funcionario/pedidos"><i class="menu-item"></i><span class="menu-texto">Pedidos</span></a></li>
      <li><a href="/funcionario/relatorio"><i class="menu-item"></i><span class="menu-texto">Relatórios</span></a></li>
      <li><a href="/funcionario/manutencao/funcionarios"><i class="menu-item"></i><span class="menu-texto">Funcionários</span></a></li>
      <li><a href="/funcionario/manutencao/roupas"><i class="menu-item"></i><span class="menu-texto">Roupas</span></a></li>

      <li><a href="#"><i class="menu-item"></i><span class="menu-texto">Serviços</span></a></li>
      <li><a href="#"><i class="menu-item"></i><span class="menu-texto">Contato</span></a></li>
    </ul>
    <ul class="logout">
      <li><a href="/logout"><i class="menu-item"></i><span
            class="menu-texto">Sair</span></a></li>
    </ul>
  </nav>
  <div class="content-with-sidebar">
    <section class="home">
      <div class="novo-pedido">
        <a href="/prototipo/cliente/tela_pedido_online/HTML/pedido.html">Abrir novo pedido</a>
      </div>
      <div class="content">
        <h1>Pedidos abertos</h1>
        <div class="listagem">
          <table>
            <thead>
              <tr>
                <th>Número do pedido</th>
                <th>Cliente</th>
                <th>Data do pedido</th>
                <th>Status</th>
                <th>Prazo de entrega</th>
                <th>Valor total</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody *ngIf="pedidos && pedidos.length > 0">
              <tr *ngFor="let pedido of pedidos">

                <td>{{ pedido.idPedido }}</td>
                <td>{{ pedido.cliente?.nome }}</td>
                <td>{{ pedido.dataHora }}</td>
                <td>{{ pedido.pedidoStatus }}</td>
                <td>{{ pedido.prazoEntrega }}</td>
                <td>{{ pedido.valorTotal }}</td>
                <td>
                  <button (click)="atualizarEstado(pedido)"
                    class="botao-confirmar">Registrar recolhimento</button>
              </tr>
            </tbody>
            <div *ngIf="!pedidos || pedidos.length === 0">
              <p style="font-size: larger;">Não há pedidos abertos.</p>
            </div>
          </table>
        </div>
      </div>
    </section>
  </div>
  <style>

  </style>
</body>
