<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOL - Lavanderia Online</title>
</head>

<body>
  <nav class="menu-sidebar">
    <div class="logo">
      <img src="/assets/img/default/logo.png" alt="Logo">
    </div>
    <h2><a href="/prototipo/funcionario/index.html">LOL Lavanderia Online</a></h2>
    <ul>
      <li><a href="/prototipo/funcionario/index.html"><i class="menu-item"></i><span class="menu-texto">Página
            Inicial</span></a></li>
      <li><a href="/prototipo/funcionario/tela_visualiza_pedido/index.html"><i class="menu-item"></i><span
            class="menu-texto">Pedidos</span></a></li>
      <li><a href="/prototipo/funcionario/relatorios/relatorios.html"><i class="menu-item"></i><span
            class="menu-texto">Relatórios</span></a></li>
      <li><a href="/prototipo/funcionario/tela_manutencao_funcionarios/manutencao_de_funcionarios.html"><i
            class="menu-item"></i><span class="menu-texto">Funcionários</span></a></li>
      <li><a href="/prototipo/funcionario/tela_manutencao_roupas/manutencao_roupas.html"><i class="menu-item"></i><span
            class="menu-texto">Roupas</span></a></li>

      <li><a href="#"><i class="menu-item"></i><span class="menu-texto">Serviços</span></a></li>
      <li><a href="#"><i class="menu-item"></i><span class="menu-texto">Contato</span></a></li>
    </ul>
    <ul class="logout">
      <li><a href="/prototipo/home/tela_inicial/inicio.html"><i class="menu-item"></i><span
            class="menu-texto">Sair</span></a></li>
    </ul>
  </nav>
  <div class="content-with-sidebar">
    <section class="home">
      <div class="content">
        <h1>Histórico de Pedidos</h1>
        <div class="seletor-status">
          <form>
            <label for="filtro-estados">Filtrar por:</label>
            <select id="filtro-estados">
              <option value="todos">Todos</option>
              <option value="hoje">Hoje</option>
              <option value="periodo-personalizado">Período personalizado</option>
            </select>

            <div class="personalizado">
              <label for="data-inicio">Data início:</label>
              <input type="date" id="data-inicio" name="data-inicio">
              <label for="data-fim">Data fim:</label>
              <input type="date" id="data-fim" name="data-fim">
              <a class="btn-filtro" onclick="filtrarPorData()">Filtrar</a>
            </div>
          </form>

        </div>


        <div class="listagem">
          <table>
            <thead>
              <tr>
                <th>Número do pedido</th>
                <th>Data do pedido</th>
                <th>Hora de Visualização</th>
                <th>Status</th>
                <th>Valor total</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody *ngIf="pedidos && pedidos.length > 0">
              <tr *ngFor="let pedido of pedidos">

                <td>{{ pedido.idPedido }}</td>
                <td>{{ pedido.cliente?.nome }}</td>
                <td>{{ pedido.dataHora }}</td>
                <td>{{ pedido.pedidoStatus }}</td>
                <td>{{ pedido.valorTotal }}</td>
                <td>
                  <button (click)="atualizarEstado(pedido)" [style]="{ 'background-color': getCorEstado(pedido) }">
                    {{ getMensagemBotao(pedido) }}
                  </button>
                </td>

              </tr>
            </tbody>
            <div *ngIf="!pedidos || pedidos.length === 0">
              <p style="font-size: larger;">Não há pedidos abertos.</p>
            </div>
          </table>
        </div>
      </div>
    </section>
    <div class="popup" id="popup">
      <img src="./assets/atencao.png">
      <h2>Cancelar Pedido</h2>
      <p>Você tem certeza que deseja cancelar seu pedido?</p>
      <button type="button" class="btn-yes" onclick="closePopupYes()">Sim</button>
      <button type="button" onclick="closePopup()">Não</button>
    </div>

    <div class="popup" id="popup2">
      <img src="assets/sucesso.png">
      <h2>Cancelar Pedido</h2>
      <p>Pedido cancelado com sucesso!</p>
      <button type="button" class="btn-yes" onclick="closePopupCancel()">Ok</button>
    </div>


  </div>



  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const filtroEstados = document.getElementById("filtro-estados");
      const linhasPedidos = document.querySelectorAll("tbody tr");
      const dataInicioInput = document.getElementById("data-inicio");
      const dataFimInput = document.getElementById("data-fim");
      const divPersonalizada = document.querySelector(".personalizado");

      let estadoSelecionado = filtroEstados.value; // Declare a variável fora da função

      function toggleDivPersonalizada() {
        if (estadoSelecionado === "periodo-personalizado") {
          divPersonalizada.style.display = "block";
        } else {
          divPersonalizada.style.display = "none";
        }
      }

      filtroEstados.addEventListener("change", function () {
        estadoSelecionado = filtroEstados.value; // Atualize o valor da variável
        toggleDivPersonalizada();

        linhasPedidos.forEach(function (linha) {
          const statusPedido = linha.querySelector("td:nth-child(3)").textContent;

          if (estadoSelecionado === "todos" || estadoSelecionado === statusPedido.toLowerCase()) {
            linha.style.display = "table-row";
          } else {
            linha.style.display = "none";
          }
        });
      });

      dataInicioInput.addEventListener("change", function () {
        filtrarPorData();
      });

      dataFimInput.addEventListener("change", function () {
        filtrarPorData();
      });

      function filtrarPorData() {
        const dataInicio = document.getElementById("data-inicio").value;
        const dataFim = document.getElementById("data-fim").value;

        linhasPedidos.forEach(function (linha) {
          const dataPedido = linha.querySelector("td:nth-child(2)").textContent;
          const dataPedidoFormatada = formatarData(dataPedido);

          if (
            (dataInicio === "" || dataPedidoFormatada >= dataInicio) &&
            (dataFim === "" || dataPedidoFormatada <= dataFim)
          ) {
            linha.style.display = "table-row";
          } else {
            linha.style.display = "none";
          }
        });
      }

      function formatarData(data) {
        const partesData = data.split("-");
        if (partesData.length === 3) {
          return `${partesData[2]}/${partesData[1]}/${partesData[0]}`;
        }
        return data;
      }

      toggleDivPersonalizada();
    });
  </script>

</body>
