.novo-pedido {
  display: flex;
  justify-content: left;
}

.title-page {
  display: block;
  align-items: center;
  justify-content: center;
}

.home .content {
  padding-top: 12vh;
}

.seletor-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4vh;
  margin-bottom: 2vh;
}


.content h1 {
  color: #000;
  margin-left: 4vh;
  font-weight: bolder;
  font-size: 2vw;
  top: 3.5vh;
  text-align: left;
}

.seletor-status label {
  color: #000;
  font-weight: bolder;
  position: relative;
  display: block;
}

.seletor-status select {
  color: #000;
  margin-left: 0.7vh;
  margin-right: 5vh;
  margin-bottom: 2vh;
  margin: 2vh 0 3vh 0;
  padding: 1vh 1vh;
  position: relative;
  background: #38797a00;
  border-radius: 3vh;
  border: 1px solid #000;
}


.content-with-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
}

.form-group {
  display: flex;
  margin-top: 3vh;
  justify-content: center;
}

.form-group label {
  margin-bottom: 0;
  font-weight: bold;
  margin-right: 1vh;
}

.form-group span {
  padding: 0px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

